@use '@/styles/base/_commonStyleRules' as *;

.button {
  @extend %buttonPrimary;

  &:disabled {
    border: none;
    background-color: $gray-100;
    color: $gray-400;
  }
}

.secondary {
  @extend %buttonSecondary;
}

.basic {
  @extend %buttonBasic;
}

.light {
  font-weight: 500;
}
