@use '@/styles/base/_commonStyleRules' as *;

.button {
  @extend %buttonPrimary;

  &:disabled {
    border: none;
    background-color: $gray-100;
    color: $gray-400;
  }
}

.secondary {
  @extend %buttonSecondary;
}

.basic {
  @extend %buttonBasic;
}

.light {
  font-weight: 500;
}

.sizeM {
  height: 52px;
  border-radius: 16px;
}

.sizeS {
  width: auto;
  padding: 7px 16px;
  height: 36px;
  border-radius: 8px;
  font-size: $font-size-m;
  font-weight: 500;
}
