@use '@/styles/mixins/_flex' as flex;
@use '@/styles/mixins/_font' as font;

.container {
  margin-top: 16px;
  width: 100%;
  @include flex.flexLayout(column);

  .list {
    padding: 16px;
    width: 100%;
    height: 76px;
    @include flex.flexLayout();
    border-bottom: 1px solid $gray-200;

    .textArea {
      margin-left: 16px;
      margin-right: 8px;
      width: 100%;

      .theme {
        @include font.fontStyle($size: $font-size-s, $weight: 500, $color: $tertiary-700);
      }
      .menu {
        @include font.fontStyle($weight: 500, $color: $gray-900);
      }
    }
  }
}
