@use '@/styles/mixins/_flex' as flex;

.container {
  padding-top: 24px;

  form {
    margin-top: 24px;
    @include flex.flexLayout($direction: column, $x: flex-start, $y: space-between);
  }
  .inputCheckboxArea {
    padding-bottom: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .buttonArea {
    position: fixed;
    bottom: 0;
    padding-top: 11px;
    padding-bottom: 16px;
    width: calc(100% - 32px);
    @include flex.flexLayout($direction: column);
    gap: 11px;
    border-top: 1px solid $gray-200;
    background-color: $bg-yellow;
  }
}
