@use '@/styles/mixins/_font' as font;
@use '@/styles/mixins/_flex' as flex;

.groupNameContainer {
  margin: 0 -16px;
  height: 72px;
  @include flex.flexLayout($y: space-between);
  gap: 8px;
  border-bottom: 1px solid $gray-200;

  .groupNameEditButton {
    @include flex.flexLayout();
    gap: 8px;
    @include font.fontStyle($size: $font-size-2xl, $weight: 700, $color: $gray-900);
  }
  .groupNameControlButton {
    width: 64px;
    height: 72px;
    @include font.fontStyle($size: $font-size-l, $weight: 700);
  }
  .groupNameControlButton:disabled {
    background-color: transparent;
    color: $gray-400;
  }
  .groupNameSaveButton {
    color: $secondary-500;
  }
}

.formTopContainer {
  padding: 16px 0;
  @include flex.flexLayout($y: space-between);

  .menuListCountArea {
    @include flex.flexLayout();
    gap: 8px;
    @include font.fontStyle($size: $font-size-l, $weight: 500, $color: $gray-900);
    .menuListCountAcc {
      color: $secondary-500;
    }
  }
}
