.container {
  padding-top: 72px;
}

.image {
  margin: 16px auto;
  display: block;
  height: 320px;
  object-fit: cover;

  @media screen and (max-width: $min-width) {
    height: 200px;
  }
}

.buttonArea {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
