@charset 'UTF-8';
@use 'scss-reset/reset';
@forward './base/_variablesColor';
@forward './base/_variablesSize';
@forward './base/_variablesFont';
@forward './base/fontFace';

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
}
