.wrap {
  position: relative;
  margin: 0 auto;
  padding: 0px 16px 16px;
  min-width: $min-width;
  max-width: $max-width;
  height: fit-content;
  min-height: 100vh;
  background-color: $bg-yellow;
}
