@use '@/styles/mixins/_flex' as flex;
@use '@/styles/mixins/_font' as font;

@keyframes dot-animation {
  0% {
    content: 'Hmm.';
  }
  30% {
    content: 'Hmm..';
  }
  60% {
    content: 'Hmm...';
  }
  100% {
    content: 'Hmm.';
  }
}

.container {
  width: 100%;

  .contentsArea {
    position: absolute;
    left: 0;
    top: 50%;
    @include flex.flexLayout($direction: column, $y: center);
    transform: translateY(-50%);
  }

  .loadingBubble {
    position: relative;
    margin-top: 16px;
    width: 200px;
    height: 71px;
    @include flex.flexLayout();
    border-radius: 24px;
    background-color: $tertiary-100;

    &::after {
      content: '';
      position: absolute;
      left: 48px;
      bottom: -16px;
      border: 8px solid $tertiary-100;
      border-bottom: 8px solid transparent;
      border-left: 8px solid transparent;
    }

    .hmm::after {
      content: '';
      @include font.fontStyle($size: $font-size-4xl, $weight: 800, $color: $tertiary-700);
      animation: dot-animation 1.5s infinite;
    }
  }

  .resultBubble {
    position: relative;
    margin-top: 28px;
    padding: 16px;
    max-width: 288px;
    min-width: 200px;
    border-radius: 24px;
    background-color: $gray-0;
    text-align: center;
    border: 1px solid $gray-200;
    z-index: 2;

    &::after {
      content: '';
      position: absolute;
      left: calc(50% - 32px);
      bottom: -16px;
      border: 8px solid $gray-0;
      border-bottom: 8px solid transparent;
      border-left: 8px solid transparent;
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      left: calc(50% - 32px);
      bottom: -18px;
      border: 9px solid $gray-200;
      border-bottom: 8px solid transparent;
      border-left: 8px solid transparent;
      z-index: 0;
    }

    .theme {
      margin-top: 4px;
      @include font.fontStyle($size: $font-size-l, $weight: 800, $color: $tertiary-500);
    }

    .menu {
      @include font.fontStyle($size: $font-size-4xl, $weight: 800, $color: $gray-800);
    }
  }

  .image {
    margin-top: 16px;
  }

  .buttonArea {
    width: calc(100% - 32px);
    bottom: 16px;
    position: absolute;

    @include flex.flexLayout();
    gap: 8px;
  }
}
