@use '@/styles/mixins/_flex' as flex;

.container {
  min-width: $min-width;
  max-width: $max-width;
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  @include flex.flexLayout();
  background-color: $bg-yellow;
}
