// padding
$button-padding-xs: 16px;
$button-padding-s: 20px;
$button-padding-m: 24px;
$button-padding-l: 36px;

// height
$button-height-xs: 32px;
$button-height-s: 40px;
$button-height-m: 56px;
$button-height-l: 64px;

// font-weight
$font-weight-bold: 700;
$font-weight-extraBold: 800;

// radius
$button-radius-capsule: 1000px;
$button-radius-roundSquare: 24px;
$button-radius-square: 8px;
