// primary-color
$primary-900: #972309;
$primary-800: #c3300e;
$primary-700: #e23a15;
$primary-600: #f24822;
$primary-500: #f9603e;
$primary-400: #fa775a;
$primary-300: #fb8e75;
$primary-200: #fca491;
$primary-100: #fcbbac;
$primary-50: #fee8e3;

// secondary-color
$secondary-900: #001788;
$secondary-800: #001eb5;
$secondary-700: #0026e2;
$secondary-600: #2649f5;
$secondary-500: #3d5cff;
$secondary-400: #5975ff;
$secondary-300: #758cff;
$secondary-200: #90a3ff;
$secondary-100: #acbaff;
$secondary-50: #e3e8ff;

// tertiary-color
$teritary-900: #ff6d00;
$teritary-800: #ff8f00;
$teritary-700: #ffa100;
$teritary-600: #ffbb00;
$teritary-500: #ffc301;
$teritary-400: #ffd324;
$teritary-300: #ffdb49;
$teritary-200: #ffe26d;
$teritary-100: #ffe992;
$teritary-50: #fff8db;

// gray-color
$gray-900: #1a1a1a;
$gray-800: #333333;
$gray-700: #424242;
$gray-500: #808080;
$gray-400: #a5a5a5;
$gray-300: #bdbdbd;
$gray-200: #d6d6d6;
$gray-100: #e5e5e5;
$gray-50: #f2f2f2;
$gray-10: #f7f7f7;
$gray-0: #fff;

// bg-color
$bg-yellow: #fffaf2;

// positive-color
$positive-900: #03545b;
$positive-800: #056e6c;
$positive-700: #08897a;
$positive-600: #0ca483;
$positive-500: #00c389;
$positive-400: #36cf90;
$positive-300: #44d89b;
$positive-200: #6aeba9;
$positive-100: #9ef8c1;
$positive-50: #cdfbdb;

// negative-color
$negative-900: #c11338;
$negative-800: #d81840;
$negative-700: #e51742;
$negative-600: #f12e56;
$negative-500: #ff3861;
$negative-400: #ff6484;
$negative-300: #ff809a;
$negative-200: #ffa0b5;
$negative-100: #ffc3d0;
$negative-50: #ffe0e7;

// informative-color
$info-900: #0069a4;
$info-800: #0079bd;
$info-700: #0085d0;
$info-600: #0093e7;
$info-500: #00a3ff;
$info-400: #24b0ff;
$info-300: #42bbff;
$info-200: #66c8ff;
$info-100: #8ad5ff;
$info-50: #c9ebff;

// dimmed-color
$dimmed-color: rgba(0, 0, 0, 0.4);
